/*main color*/
.product-item .product-inner .product-info .product-name:hover,
.widget_product_categories .product-categories li  a:hover,
.content-slide-08 .shopnow:hover,
.header.style6 .topbar-content .topbar-item  .icon:hover,
.topbar-content .search-block.show .hidden-content:hover,
.topbar-content .search-block .search-inner .search-button:hover,
.footer .last-footer .footer-links li a:hover,
.widget-search .search-button:hover,
.banner.hot-deal .shopnow:hover,
.widget-recent-post .recent-post .info .post-name:hover,
.post-item.layout3 .post-info .post-metas .author:hover .icon,
.post-item.layout3 .post-info .post-metas .author:hover i,
.reverside-newletter.layout1 .subscribe:hover,
.post-item .post-info .post-metas .post-count .icon:hover,
.header.style3  .main-menu .menu-item > a:hover,
.main-menu .submenu .submenu-item a:hover,
.special-header .topbar-content .topbar-menu li a:hover,
.topbar-content .cart-inner.layout2 .notify .count-item,
.header-nav.layout2 .header-nav-inner .main-menu .menu-item > a:hover,
.footer.layout4 .item .post-metas .day,
.footer.layout4 .coppy-right .content .site-name,
.footer.layout4 .riverside-social li a:hover,
.post-item .post-info .post-name:hover,
.list-item .single-item .quantity .remove-item:hover,
.page-404 .title span,
.page-404 .note a,
.login-register-form .chose .forgot-pass,
.rs-featured-box.layout2 .number:hover,
.rs-featured-box.layout2 .content .title:hover,
.kt-popup-newsletter .title span,
.category-fullwidth .nav-tab-style2 .nav.shop-control>li.active>a .count,
.topbar-content .minicart a.icon:hover:hover,
.topbar-menu .topbar-item a:hover,
.topbar-content .search-form a.icon:hover,
.banner1-home3 .right-banner1-home3 .shopnow:hover,
.back-to-top:hover,
.post-item .post-info .post-metas .post-count .comment:hover,
.post-item .post-info .post-metas .post-count .comment:hover .icon,
.header.style3 .header-nav-inner .hidden-content:hover,
.category-grid-item .info .title:hover {
	color: #546f8d;
}

/*backgorund main color*/
.special-header  .minicart .box-icon .count,
.minicart .box-icon .count,
.header.style2 .minicart .box-icon .count,
.nav-style1 .owl-nav .owl-prev:hover, 
.nav-style1 .owl-nav .owl-next:hover,
.cart-inner .group-button a:hover,
.product-item .product-inner .group-flash .flash.new,
.post-item .post-info .category-title:hover,
.header.inner-page .minicart .box-icon .count,
.blogs-list .post-item .thumb .category-title,
.pagination .list-page .page-number:hover,
.list-size li.current a,
.widget_price_filter .ui-slider .ui-slider-range,
.widget_price_filter .ui-slider .ui-slider-handle, 
.widget_price_filter .ui-slider .ui-slider-handle,
.widget_price_filter .filter,
.rs-featured-box .box-icon:hover,
.reverside-newletter.layout2 .subscribe,
.vertical-categories .title,
.header.style3 .main-topbar-header,
.footer .last-footer,
.shop-by-categories .shop-by-button,
.list-tag li a:hover,
.kt-popup-newsletter .search-button,
.category-item.layout2 .category-name::before,
.percent .reverside-percent .skillbar:hover .skillbar-bar,
.cart-inner .group-button .checkout,
.cart-inner .group-button .view-cart:hover {
	background-color: #546f8d;
}
.footer.layout4 .item .post-metas .day,
.pagination .list-page .page-number:hover,
.list-size li.current a,
.rs-featured-box .box-icon:hover,
.vertical-categories .vertical-menu-content,
.list-tag li a:hover {
	border-color:  #546f8d;
}